In [1]:
import datetime

In [2]:
dt.datetime.now()

NameError: name 'dt' is not defined

In [ ]:
dt1=datetime.datetime(2011,1,1)
dt2=datetime.datetime(2014,5,14)

In [ ]:
dt2-dt1

In [ ]:
dt1=datetime.datetime(2011,1,1)
dt2=datetime.datetime(2011,2,1)

In [ ]:
dt2-dt1

In [ ]:
dt1.toordinal()-734138

In [5]:
import pandas as pd
import numpy as np
%matplotlib inline

In [8]:
df = pd.read_csv('D:/day.csv')

In [9]:
df.head()

         date
0  2011-01-12
1  2011-02-28
2  2011-03-31
3  2011-04-29
4  2011-05-31

In [14]:
df2 = df['date'].apply(lambda x: x.toordinal())

In [10]:
df['date'] = pd.to_datetime(df['date'])

In [15]:
df2.to_csv("D:/julian1.csv")