In [20]:
import datetime 
import datetime as dt

In [21]:
dt.datetime.now

In [22]:
dt1=datetime.datetime(2011,1,1)
dt2=datetime.datetime(2014,5,14)

In [23]:
dt2-dt1

datetime.timedelta(days=1229)

In [24]:
dt1=datetime.datetime(2011,1,1)
dt2=datetime.datetime(2011,2,1)

In [25]:
dt2-dt1

datetime.timedelta(days=31)

In [26]:
dt1.toordinal()-734138

0

In [27]:
import pandas as pd
import numpy as np
%matplotlib inline

In [28]:
df = pd.read_csv('D:/day.csv')

In [29]:
df.head()

         date
0  2011-01-12
1  2011-02-28
2  2011-03-31
3  2011-04-29
4  2011-05-31

In [31]:
df['date'] = pd.to_datetime(df['date'])

In [32]:
df2 = df['date'].apply(lambda x: x.toordinal())

In [15]:
df2.to_csv("D:/julian1.csv")